<div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}!</h1>
        <h2>About me </h2>
        <p>I am Neha Chandra.I am a Freelance Fullstack Developer.<br>I have done Bachelors in computer science.
            I used to work<br> on Angular,Java,Javascript,Spring Boot,Sql,AWS.I love Coading,<br>Cooking and Watching TV Drama.In free time I like to drink Tea.  </p>
        <p><a routerLink="/users">Manage Users</a></p>
        <p><a routerLink="/contactus">Contact US</a></p>
    </div>
</div>